<h2>Testing</h2>
<DxFormLayout>
    <DxFormLayoutGroup Caption="General">
        <DxFormLayoutItem>
            <DxTextBox></DxTextBox>
        </DxFormLayoutItem>
    </DxFormLayoutGroup>
</DxFormLayout>

@code {
    
}