@page "/bypass"
@using MongoDB.Bson
@using MonitoringSystem.Shared.Data.LogModel
@using MonitoringSystem.Shared.Services
@using MonitoringWeb.WebApp.Data
@using MonitoringWeb.WebApp.Services
@inject WebsiteConfigurationProvider ConfigurationProvider

<DxTabs>
    <DxTabPage Text="Epi1 Alerts">
        <div class="card">
            <div class="card-header text-center bg-success text-white">
                <h3>Epi1 Bypass Settings</h3>
            </div>
            <div class="card-body">
                <div class="row d-flex justify-content-center">
                    @foreach (var alert in this._epi1Alerts) {
                        <div class="col-2 shadow-lg p-1 mb-1 rounded justify-content-center">
                            @{
                              /*var bypassAlert=new BypassAlert() {
                                    AlertId = alert._id,
                                    State = alert.Bypassed,
                                    BypassTimer = alert.BypassResetTime,
                                    DisplayName = alert.DisplayName
                                };*/
                              <BypassCard BypassAlert="@alert"
                                          StateChanged="@(async ((ObjectId,bool) input)=>await this.Epi1StateChangedChanged(input))"/>
                            }

                        </div>
                    }
                </div>
            </div>
        </div>
    </DxTabPage>
    <DxTabPage Text="Epi2 Alerts">
        <div class="card">
            <div class="card-header text-center bg-success text-white">
                <h3>Epi2 Bypass Settings</h3>
            </div>
            <div class="card-body">
                <div class="row d-flex justify-content-center">
                    @foreach (var alert in this._epi2Alerts) {
                        <div class="col-2 shadow-lg p-1 mb-1 rounded justify-content-center">
                            <BypassCard BypassAlert="@alert"/>
                            
                        </div>
                    }
                </div>
            </div>
        </div>
    </DxTabPage>
    
    <DxTabPage Text="Gasbay Alerts">
        <div class="card">
            <div class="card-header text-center bg-success text-white">
                <h3>Gasbay Bypass Settings</h3>
            </div>
            <div class="card-body">
                <div class="row d-flex justify-content-center" >
                    @foreach (var alert in this._gasBayAlerts) {
                        <div class="col-2 shadow-lg p-1 mb-1 rounded justify-content-center">
                            @{
                            <BypassCard BypassAlert="@alert"/>
                            }

                        </div>
                    }
                </div>
            </div>
        </div>
    </DxTabPage>
</DxTabs>



@code {
    [Inject] private AlertBypassService _alertBypassService { get; set; }
    
    private List<BypassAlert> _epi1Alerts { get; set; } = [];
    private List<BypassAlert> _epi2Alerts { get; set; } = [];
    private List<BypassAlert> _gasBayAlerts { get; set; } = [];

    protected override async Task OnInitializedAsync() {
        this._epi1Alerts = await this._alertBypassService.GetEpi1MonitorAlerts();
         this._epi2Alerts = await this._alertBypassService.GetEpi2MonitorAlerts();
         this._gasBayAlerts = await this._alertBypassService.GetGasBayMonitorAlerts();
        await base.OnInitializedAsync();
    }

    private Task Epi1StateChangedChanged((ObjectId id,bool state) input) {
        var alert = this._epi1Alerts.FirstOrDefault(e => e._id == input.id);
        if (alert != null) {
            alert.Bypassed = input.state;
            return this._alertBypassService.UpdateEpi1State(alert);
        }
        return Task.CompletedTask;
    }
    
    private async Task Epi2BypassAlertChanged(BypassAlert alert) {
        //await this._alertBypassService.UpdateEpi2BypassAlert(alert);
    }
    
    private async Task GasBayBypassAlertChanged(BypassAlert alert) {
        //await this._alertBypassService.UpdateGasBayBypassAlert(alert);
    }
}