@using MongoDB.Bson
@using MonitoringSystem.Shared.Data.LogModel
@using MonitoringWeb.WebApp.Data

<div class="card m-1 border border-1">
    @if (this.BypassAlert == null) {
        <div class="card-header bg-warning text-white text-center">
            <h5>Error: Null Alert</h5>
        </div>
    } else {
        <div class="card-header bg-warning text-white text-center">
            <h5>@this.BypassAlert.DeviceName</h5>
        </div>
        <div class="card-body">
            <DxTabs>
                <DxTabPage Text="Bypass">
                    <div class="card-body p-3 m-3">
                        <ToggleButton Caption="Alert"
                                      OnText="Bypassed"
                                      OffText="Enabled"
                                      OnStyle="ButtonRenderStyle.Danger"
                                      OffStyle="ButtonRenderStyle.Success"
                                      State="@this._state"
                                      StateChanged="@(async (bool t) => await this.StateChangedhandler(t))"/>
                    </div>

                </DxTabPage>
                <DxTabPage Text="Reset Time(Hrs)">
                    <div class="card-body p-3 m-3">
                        <DxSpinEdit Value="_resetTime" 
                                    ShowSpinButtons="true"
                                    MaxValue="168"
                                    MinValue="1" 
                                    Increment="1"
                                    ValueChanged="@(async (int t) => await this.ResetTimeChangedHandler(t))"/>
                    </div>
                </DxTabPage>
            </DxTabs>
        </div>
    }
</div>


@code {
    [Parameter] public BypassAlert? BypassAlert { get; set; }
    [Parameter] public EventCallback<(ObjectId id, bool state)> StateChanged { get; set; }
    [Parameter] public EventCallback<(ObjectId id, int hrs)> ResetTimeChanged { get; set; }


    private bool _state = true;
    private int _resetTime = 300;

    protected override Task OnInitializedAsync() {
        this._state=this.BypassAlert?.Bypassed ?? false;
        this._resetTime=this.BypassAlert?.BypassResetTime ?? 24;
        return base.OnInitializedAsync();
    }

    private Task StateChangedhandler(bool state) {
        this._state = state;
        if (this.BypassAlert != null) {
            return this.StateChanged.InvokeAsync(new(this.BypassAlert._id, state));
        } else {
            return Task.CompletedTask;
        }
    }
    
    private Task ResetTimeChangedHandler(int hrs) {
        this._resetTime = hrs;
        if (this.BypassAlert != null) {
            return this.ResetTimeChanged.InvokeAsync(new(this.BypassAlert._id, hrs));
        } else {
            return Task.CompletedTask;
        }
    }

}