@using MonitoringWeb.WebApp.Data
@using MonitoringSystem.Shared.Data.UsageModel
@using MongoDB.Driver
@inject IMongoClient Client;
<h3>Usage Table</h3>
<DxGrid Data="@Records" AutoCollapseDetailRow="false" 
        AllowGroup="true" 
        ShowGroupPanel="true">
    <Columns>
        <DxGridDataColumn FieldName="Date" DisplayFormat="d" />
        <DxGridDataColumn FieldName="DayOfWeek"/>
        <DxGridDataColumn FieldName="DayOfMonth"/>
        <DxGridDataColumn FieldName="WeekOfYear" GroupIndex="2"/>
        <DxGridDataColumn FieldName="Month" GroupIndex="1"/>
        <DxGridDataColumn FieldName="Year" GroupIndex="0" />
        <DxGridDataColumn FieldName="Usage"/>
        <DxGridDataColumn FieldName="PerHour"/>
    </Columns>
    <GroupSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Avg" FieldName="Usage" Name="PerDay"/>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Custom" FieldName="Usage" Name="PerDay"/>
    </GroupSummary>
</DxGrid>

@*<DxGrid Data="@Records" AutoCollapseDetailRow="false" AllowGroup="true" ShowGroupPanel="true">
    <Columns>
                <DxGridDataColumn FieldName="DayOfMonth" />
                <DxGridDataColumn FieldName="DayOfWeek" />
                <DxGridDataColumn FieldName="Consumption"/>
                <DxGridDataColumn FieldName="PerHour"/>
                <DxGridDataColumn FieldName="PerMin"/>
    </Columns>
    <DetailRowTemplate >
        @{
            var monthRecord = context.DataItem as MonthRecord;
        }
        <DxGrid Data="@monthRecord?.DayRecords" ShowGroupPanel="true">
            <Columns>
                <DxGridDataColumn FieldName="DayOfMonth" />
                <DxGridDataColumn FieldName="DayOfWeek" />
                <DxGridDataColumn FieldName="Consumption"/>
                <DxGridDataColumn FieldName="PerHour"/>
                <DxGridDataColumn FieldName="PerMin"/>
            </Columns>
        </DxGrid>
    </DetailRowTemplate>
</DxGrid>*@
@code {
    [Parameter]
    public BulkGasType GasType { get; set; }
    
    IEnumerable<DayRecord>? Records { get; set; }

    protected override async Task OnInitializedAsync() {
        if (this.GasType == BulkGasType.NH3) {
            var database = this.Client.GetDatabase("nh3_data");
            var collection = database.GetCollection<DayRecord>("nh3_usage");
            var record = await collection.Find(_ => true).ToListAsync();
            this.Records = record.AsEnumerable();
        }
    }

}