@using MonitoringSystem.Shared.Data.EntityDtos
@using System.Net
@using System.Net.Http.Json
@inject HttpClient Http
<h3>Configuration</h3>

@code {
    IEnumerable<ModbusDeviceDto> ModbusDevcies;
    
    protected override async Task OnInitializedAsync() {
        this.ModbusDevcies = await Http.GetFromJsonAsync<IEnumerable<ModbusDeviceDto>>("https://localhost:7133/"+"devices");
        this.ModbusDevcies.Any();
    }
}