@page "/"
@using MonitoringWeb.WebAppV2.Components
@using MonitoringWeb.WebAppV2.Data
@using MonitoringSystem.Shared.Data
@inject SettingsService SettingsService

<div class="container">
    <div class="row">
        <h3>Active alerts will go here</h3>
    </div>
    <div class="row">
        @if (this._devices == null) {
            <h4>Loading Devices, Please Wait..</h4>
        } else {
            <div class="row profile-row" style="padding:1rem">
                @foreach (var device in this._devices) {
                    <div class="col-6 shadow-lg p-3 mb-5 rounded" style="padding:1rem">
                        <LiveGrid Hub="@device.HubAddress" DeviceName="@device.DeviceName"></LiveGrid>
                    </div>
                }
            </div>
        }
    </div>
</div>

@code {
    IEnumerable<ManagedDevice>? _devices;
    protected override async Task OnInitializedAsync() {
        await this.SettingsService.Load();
        this._devices = await this.SettingsService.GetDevices();
    }
    
    async Task Update() {
        await InvokeAsync(StateHasChanged);
    }
}