@page "/"
@using MonitoringWeb.ConfigTesting.Components
<DxTabs>
    <DxTabPage Text="Devices">
        <DevicesView />
    </DxTabPage>
    <DxTabPage Text="Facility Actions">
        <FacilityActionGrid />
    </DxTabPage>
    <DxTabPage Text="Sensors">
        <div class="row" style="padding: 1rem">
            <SensorGrid/>
        </div>
    </DxTabPage>
</DxTabs>

@code {
    
}
