@page "/bulkdash"
@using MonitoringSystem.Shared.Data
@using MonitoringWeb.WebApp.Services
@using Microsoft.AspNetCore.SignalR.Client
@using MonitoringWeb.WebApp.Components.Bulkgas
@inject NavigationManager NavManager
@inject ISidepanelService SidepanelService
@inject WebsiteConfigurationProvider ConfigurationProvider
@implements IAsyncDisposable 

<style>
#sidepanel.is-open {
    width: 70%;
    background-color: #1f4671;
}

@@media (min-width: 768px) {
    #sidepanel.is-open {
        width: 50%;
    }
}
</style>

<SidepanelComponent @ref="this._sidepanel" Title="Settings">
    <BulkGasSettingsComponent BulkSettings="@this._bulkSettings" Saved="@this.SavedHandler"/>
</SidepanelComponent>

<div class="row float-end">
    <DxButton Click="Callback" 
              RenderStyle="ButtonRenderStyle.Primary"
              Text="@this._buttonText"/>
</div>
@*<div class="row d-flex justify-content-center">
    <ItemStatusCard Type="BulkGasType.N2"></ItemStatusCard>
    <ItemStatusCard Type="BulkGasType.H2"></ItemStatusCard>
</div>*@
<BulkStatus/>
<div class="row">
    <div class="col-6">
        <BulkGasPlot GasType="BulkGasType.H2" 
                     CustomDateVisible="false" 
                     RangeSelectVisible="false"/>
    </div>
    <div class="col-6">
        <BulkGasPlot GasType="BulkGasType.N2" 
                     CustomDateVisible="false" 
                     RangeSelectVisible="false"/>
    </div>
</div>


@code {

    private string _buttonText = "Open Settings";
    private WebsiteBulkSettings _bulkSettings;
    private SidepanelComponent _sidepanel;
    
    private HubConnection? _hubConnection;
    private bool _isSender = false;
    
    public bool IsConnected =>
        this._hubConnection?.State == HubConnectionState.Connected;


    protected override async Task OnInitializedAsync() {
        this._bulkSettings = ConfigurationProvider.WebsiteBulkSettings;
        this._hubConnection=new HubConnectionBuilder()
            .WithUrl(NavManager.ToAbsoluteUri("/bulkgashub"))
            .Build();
        this._hubConnection.On("ReceiveRefreshRequest",this.ReceiveRefreshRequest);
        await this._hubConnection.StartAsync();
        await base.OnInitializedAsync();
    }
    
    protected override void OnAfterRender(bool firstRender) {
        if (firstRender){
            var timer = new Timer(new TimerCallback(_ =>
            {
                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
            }), null, this._bulkSettings.RefreshTime,  this._bulkSettings.RefreshTime);
        }
    }

    private async void SavedHandler() {
        this._buttonText = "Open Settings";
        await this.SendRefreshRequest();
    }

    private Task ReceiveRefreshRequest() {
        if (this._isSender) {
            this._isSender = false;
        } else {
            this.NavManager.NavigateTo(this.NavManager.Uri,forceLoad:true);
        }
        return Task.CompletedTask;
    }

    private async Task SendRefreshRequest() {
        if (this.IsConnected) {
            this._isSender = true;
            await this._hubConnection.SendAsync("SendRefreshRequest");
        }
    }

    private void Callback() {
        if (this.SidepanelService.IsOpen) {
            this._sidepanel.Close();
            this._buttonText = "Open Settings";
        } else {
            this._sidepanel.Open();
            this._buttonText = "Close Settings";
        }
    }

    public async ValueTask DisposeAsync() {
        if (this._hubConnection is not null) {
            await this._hubConnection.DisposeAsync();
        }
    }

}