@using MonitoringWeb.WebAppV2.Components

<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
        <DxTreeViewNode NavigateUrl="/" Text="Dashboard" ></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="alertsview" Text="Recent Alerts"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="plot" Text="Detector Plots"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="config" Text="Configuration"></DxTreeViewNode>
        <DxTreeViewNode Name="BulkGases" Text="Bulk Gases" Expanded="true">
            <Nodes>
                <DxTreeViewNode Text="H2 Trailor" NavigateUrl="h2plot" />
                <DxTreeViewNode Text="Nitrogen" NavigateUrl="n2plot" />
                <DxTreeViewNode Text="NH3 Tanks" NavigateUrl="nh3plot" />
            </Nodes>
        </DxTreeViewNode>
    </Nodes>
</DxTreeView>
</div>

@code {
    [Parameter] public string? StateCssClass { get; set; }
}