@using MonitoringWeb.WebAppV2.Components

<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
        <DxTreeViewNode NavigateUrl="/" Text="Dashboard" ></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="alertsview" Text="Recent Alerts"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="plot" Text="Detector Plots"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="config" Text="Configuration"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="h2plot" Text="H2 Trailor Plot"></DxTreeViewNode>
    </Nodes>
</DxTreeView>
</div>

@code {
    [Parameter] public string? StateCssClass { get; set; }
}