@using MonitoringWeb.WebAppV2.Data
@using MonitoringSystem.Shared.Data
@inject SettingsService SettingsService

@if (Visible) {
    if (this._devices == null) {
        <h4>Devices not set</h4>
    } else {
        @foreach (var device in this._devices) {
            <div class="row" style="padding: 1rem">
                <ControlComponent DeviceName=@device.DeviceName />
            </div>
        }
    }
}

@code {
    [Parameter] public bool Visible { get; set; }
    [Parameter] public EventCallback<bool> VisibleChanged { get; set; }

    private IEnumerable<ManagedDevice> _devices;

    protected override async Task OnInitializedAsync() {
        this._devices = await this.SettingsService.GetDevices();
    }
}