@using MonitoringSystem.Shared.Data
@using MonitoringSystem.Shared.SignalR
@using MonitoringWeb.WebApp.Data
@using Microsoft.AspNetCore.SignalR.Client
@using MonitoringSystem.Shared.Data.SettingsModel
@using MonitoringWeb.WebApp.Services
@inject ILogger<BulkStatus> Logger
@inject WebsiteConfigurationProvider ConfigurationProvider

<div class="row d-flex justify-content-center">
    <div class="col-3 shadow-lg p-3 mb-5 rounded" style="padding:1rem">
        <BulkGasStatusCard Settings="@this._h2Settings" />
    </div>
    <div class="col-3 shadow-lg p-3 mb-5 rounded" style="padding:1rem">
        <BulkGasStatusCard Settings="@this._n2Settings" />
    </div>
    <div class="col-3 shadow-lg p-3 mb-5 rounded" style="padding:1rem">
        <BulkGasStatusCard Settings="@this._nhSettings" />
    </div>    
</div>



@code {
    private BulkGasSettings? _h2Settings { get; set; }
    private BulkGasSettings? _n2Settings { get; set; }
    private BulkGasSettings? _nhSettings { get; set; }
    
    protected override async Task OnInitializedAsync() {
        this._h2Settings = this.ConfigurationProvider.WebsiteBulkSettings.H2Settings;
        this._n2Settings = this.ConfigurationProvider.WebsiteBulkSettings.N2Settings;
        this._nhSettings = this.ConfigurationProvider.WebsiteBulkSettings.NHSettings;
    }
}