@using MonitoringSystem.Shared.Data
@using MonitoringSystem.Shared.SignalR
@using MonitoringWeb.WebApp.Data
@using Microsoft.AspNetCore.SignalR.Client
@using MonitoringSystem.Shared.Data.SettingsModel
@using MonitoringSystem.Shared.Services
@using MonitoringWeb.WebApp.Services
@inject ILogger<BulkStatus> Logger


<div class="row d-flex justify-content-center" style="margin-right: 5rem;">
    <div class="col-3 shadow-lg p-3 mb-5 rounded" style="padding:1rem">
        <BulkGasStatusCard Settings="@this.H2Settings" />
    </div>
    <div class="col-3 shadow-lg p-3 mb-5 rounded" style="padding:1rem">
        <BulkGasStatusCard Settings="@this.N2Settings" />
    </div>
    <div class="col-3 shadow-lg p-3 mb-5 rounded" style="padding:1rem">
        <BulkGasStatusCard Settings="@this.NH3Settings" />
    </div>
    <div class="col-3 shadow-lg p-3 mb-5 rounded" style="padding:1rem">
        <BulkGasStatusCard Settings="@this.SiSettings" />
    </div>
</div>



@code {
    [Parameter]
    public BulkGasSettings? H2Settings { get; set; }
    [Parameter]
    public BulkGasSettings? N2Settings { get; set; }
    [Parameter]
    public BulkGasSettings? NH3Settings { get; set; }
    [Parameter]
    public BulkGasSettings? SiSettings { get; set; }
    
    protected override async Task OnInitializedAsync() {
        /*this.H2Settings = this.ConfigurationProvider.WebsiteBulkSettings.H2Settings;
        this._n2Settings = this.ConfigurationProvider.WebsiteBulkSettings.N2Settings;
        this.NH3Settings = this.ConfigurationProvider.WebsiteBulkSettings.NHSettings;*/
    }
}