@using MonitoringWeb.WebApp.Components
@using MonitoringWeb.WebApp.Data
@inject NavigationManager NavigationManager

<div class="sidebar @StateCssClass">
    <DxTreeView AllowSelectNodes="true" CssClass="app-sidebar" >
        <Nodes>
            <DxTreeViewNode  NavigateUrl="/" Text="Dashboard" ></DxTreeViewNode>
            <DxTreeViewNode NavigateUrl="alertsview" Text="Recent Alerts"></DxTreeViewNode>
            <DxTreeViewNode NavigateUrl="plot" Text="Detector Plots"></DxTreeViewNode>
            <DxTreeViewNode NavigateUrl="config" Text="Configuration"></DxTreeViewNode>
            <DxTreeViewNode NavigateUrl="thview" Text="TH Monitor"></DxTreeViewNode>
            <DxTreeViewNode NavigateUrl="scalecal" Text="Scale Calibration"></DxTreeViewNode>
            <DxTreeViewNode Name="BulkGases" Text="Bulk Gases" Expanded="true">
                <Nodes>
                    <DxTreeViewNode Text="Bulk Gas Dashboard" NavigateUrl="bulkdash" />
                    <DxTreeViewNode Text="Hydrogen" NavigateUrl="@h2gas"/>
                    <DxTreeViewNode Text="Nitrogen" NavigateUrl="@n2gas"/>
                    <DxTreeViewNode Text="Ammonia" NavigateUrl="@nh3gas"/>
                </Nodes>
            </DxTreeViewNode>
            <DxTreeViewNode Name="Admin" Text="Admin" Expanded="false">
                <Nodes>
                    <DxTreeViewNode Text="Upload" NavigateUrl="upload"/>
                </Nodes>
            </DxTreeViewNode>
        </Nodes>
    </DxTreeView>
</div>

@code {
    [Parameter] public string? StateCssClass { get; set; }
    string h2gas = $"bulkgas/{(int)BulkGasType.H2}";
    string n2gas = $"bulkgas/{(int)BulkGasType.N2}";
    string nh3gas = $"bulkgas/{(int)BulkGasType.NH3}";
}