name: Monitoring Website Deployment
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: docker login
      env:
        DOCKER_USER: ${{secrets.Docker_Username}}
        DOCKER_PASSWORD: ${{secrets.Docker_Password}}
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD 
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
          context: .
          file: ./MonitoringWeb.WebApp/Dockerfile
          push: true
          tags: ${{ secrets.Docker_Username}}/monitorwebapp:dev
  # deploy:
  #   needs: build
  #   runs-on:
  #    group: setihost-group
  #   steps:
  #     - uses: actions/checkout@v3
  #     - run: microk8s.kubectl rollout restart deployment webapp
      
